<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<title>Speeding up web applications</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1274, user-scalable=no">
	<link rel="stylesheet" href="themes/ribbon/styles/style.css">
	<!--
		Для оформления отдельный слайдов, используйте
		ID слайда для доступа к необходимым элементам
		-->
	<style>
	  #data_access_numbers table {
	  	width:100%;
	  }

		#data_access_numbers td.data {
			text-align:left ;
		}
	</style>
</head>
<body class="list">
	<header class="caption">
		<h1>Speeding up web applications</h1>
	</header>
	<div class="slide" id="Cover"><div>
		<section>
		  <header>
	        <h1>Speeding up web applications</h1>
	      </header>

				<div style="text-align : right;">
				Alexander Rozumii<br />
				github.com/brain-geek<br />
				@brain-geek
				</div>
		</section>
	</div></div>

	<div class="slide" id="about_presentation"><div>
		<section>
			<header>
				<h2>About this presentation:</h2>
			</header>
			<ol>
				<li>This is my first presentation, so be tolerant.</li>
				<li>There are errors here - lots of them.</li>
				<li>Please, feel free to interrupt me any time.</li>
				<li>Feel free to send pull requests. :)</li>
			</ol>
		</section>
	</div></div>

	<div class="slide" id="about_what"><div>
		<section>
			<header>
				<h2>What am I talking about today:</h2>
			</header>
			<ol>
				<li>Some theory</li>
				<li>Speeding up server-side</li>
				<li>Small tricks for client-side</li>
			</ol>
		</section>
	</div></div>

	<div class="slide" id="why"><div>
		<section>
			<header>
				<h2>Why speeding up sites?</h2>
			</header>
			<blockquote>
				A 1 second delay in page response can result in a 7% reduction in conversions<br />
				47% of consumers expect a web page to load in 2 seconds or less.
			</blockquote>
		</section>
	</div></div>

	<div class="slide shout" id="theory_title"><div>
		<section>
			<header>
				<h2>Some theory</h2>
			</header>
		</section>
	</div></div>

	<div class="slide cover" id="queues"><div>
		<section>
			<header>
				<h2>Queue</h2>
			</header>
			<img src="pictures/queue.jpg" alt="">
		</section>
	</div></div>

	<div class="slide" id="ss-queues2"><div>
		<section>
			<header>
				<h2>Single-server queue</h2>
			</header>
			<!--Classic response time profile for a single-server queue-->
			<img src="pictures/single_server_queue_req_len.png" alt="" class="middle">
		</section>
	</div></div>

	<div class="slide" id="ms-queues"><div>
		<section>
			<header>
				<h2>Multiple-server queue</h2>
			</header>
			<img src="pictures/unicorn_queue.png" alt=""  class="middle">
		</section>
	</div></div>

	<div class="slide" id="components-coupled"><div>
		<section>
			<header>
				<h2>Components</h2>
			</header>

			<ul>
				<li>Coupled</li>
				<li>Uncoupled</li>
			</ul>
		</section>
	</div></div>

	<div class="slide" id="components-levels"><div>
		<section>
			<header>
				<h2>Components</h2>
			</header>

			<ul>
				<li>High-level (software)</li>
				<li>Low-level (hardware)</li>
			</ul>
		</section>
	</div></div>


	<div class="slide" id="hl-components"><div>
		<section>
			<header>
				<h2>High-level components</h2>
			</header>

			<ul>
				<li>DB</li>
				<li>Web servers</li>
				<li>Cache</li>
				<li>Your application</li>
			</ul>
		</section>
	</div></div>

	<div class="slide" id="ll-components"><div>
		<section>
			<header>
				<h2>Low-level components</h2>
			</header>

			<ul>
				<li>CPU</li>
				<li>memory</li>
				<li>disk</li>
				<li>network</li>
			</ul>
		</section>
	</div></div>

	<div class="slide" id="data_access_numbers"><div>
		<section>
			<header>
				<h2>Numbers Everyone Should Know</h2>
			</header>

			<table>
				<tr><td>L1 cache reference                 </td><td class="data">            0.5 ns</td></tr>
				<tr><td>L2 cache reference                 </td><td class="data">            7 ns</td></tr>
				<tr><td>Main memory reference              </td><td class="data">          100 ns</td></tr>
				<tr><td>Send 2K bytes over 1 Gbps network  </td><td class="data">       20,000 ns</td></tr>
				<tr><td>Read 1 MB sequentially from memory </td><td class="data">      250,000 ns</td></tr>
				<tr><td>Read 1 MB sequentially from network</td><td class="data">   10,000,000 ns</td></tr>
				<tr><td>Read 1 MB sequentially from disk   </td><td class="data">   30,000,000 ns</td></tr>
			</table>
		</section>
	</div></div>

	<div class="slide" id="scaling"><div>
		<section>
			<header>
				<h2>Scaling</h2>
			</header>

			<ul>
				<li>WTF is scaling?</li>
				<li>Horizontal and vertical scaling</li>
				<li>Uncoupled architecture is cool</li>
			</ul>
		</section>
	</div></div>

	<!-- Page creation section -->

	<div class="slide shout" id="page_creation"><div>
		<section>
			<header>
				<h2>Page<br>creation</h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="whats-up"><div>
		<section>
			<header>
				<h2>Where is main problem?</h2>
			</header>

			<!-- It's 2006. But ruby speed still sucks. -->
			<img src="pictures/ruby_is_slow(2006).jpg" alt="" class="middle" width="792">
		</section>
	</div></div>

	<div class="slide" id="three-ways"><div>
		<section>
			<header>
				<h2>At least 4 simple ways</h2>
			</header>

			<ul>
				<li>Change environment</li>
				<li>Rewrite app</li>
				<li>Use specialized tools</li>
				<li>Caching</li>
			</ul>
		</section>
	</div></div>

	<div class="slide cover" id="opmitize-all-the-stuff"><div>
		<section>
			<img src="pictures/optimize-all-the-stuff.png" alt="">
		</section>
	</div></div>

	<div class="slide shout" id="environment"><div>
		<section>
			<header>
				<h2>Change environment</h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="faster"><div>
		<section>
			<header>
				<h2>Ruby interpreters</h2>
			</header>
			<ul>
				<li>Ruby Enterprise Edition</li>
				<li>1.9.3</li>
				<li>1.9.3-falcon</li>
				<li>JRuby</li>
				<li>Rubinius</li>
			</ul>
		</section>
	</div></div>

	<div class="slide" id="gc-tuning"><div>
		<section>
			<header>
				<h2>GC tuning:</h2>
			</header>
			<ul>
				<li>Ruby Enterprise Edition</li>
				<li>1.9.3-falcon</li>
			</ul>
		</section>
	</div></div>

	<div class="slide cover" id="ruby-vs-ruby"><div>
		<section>
			<header>
				<h2>It's not so bad, in fact</h2>
			</header>

			<img src="pictures/ruby-vs-ruby.png" alt="">
		</section>
	</div></div>


	<div class="slide cover" id="webservers"><div>
		<section>
			<header>
				<h2>&nbsp;Webservers: does it make a difference?</h2>
			</header>

			<img src="pictures/webservers.png" alt="">			
		</section>
	</div></div>

	<div class="slide shout" id="rewriting-app"><div>
		<section>
			<header>
				<h2>Rewriting app</h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="faster"><div>
		<section>
			<header>
				<h2>Rewrite using other languages</h2>
			</header>
			<ul>
				<li>SQL</li>
				<li>C</li>
				<!--<li>other vodoo magic</li>-->
			</ul>
		</section>
	</div></div>

	<div class="slide" id="background"><div>
		<section>
			<header>
				<h2>Use background processing!</h2>
			</header>
			<ul>
				<li>Resque</li>
				<li>Background job</li>
				<li>Rails 4</li>
			</ul>
		</section>
	</div></div>

	<div class="slide shout" id="less"><div>
		<section>
			<header>
				<h2>Caching</h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="approaches"><div>
		<section>
			<header>
				<h2>Different low-level tools</h2>
			</header>

			<ul>
				<li>redis</li>
				<li>memcache</li>
				<li>nginx?</li>
			</ul>
		</section>
	</div></div>

	<div class="slide" id="rails_cache"><div>
		<section>
			<header>
				<h2>Rails cache</h2>
			</header>

			<ul>
				<li>Page caching</li>
				<li>Action caching</li>
				<li>Fragment caching</li>
				<li>Object caching</li>
			</ul>
		</section>
	</div></div>	

	<div class="slide shout" id="taggable"><div>
		<section>
			<header>
				<h2>Taggable<br>cache</h2>
			</header>
		</section>
	</div></div>

	<div class="slide shout" id="wish-observers"><div>
		<section>
			<header>
				<h2><a href="examples/observers.html" target="_blank">30 lines - cache expiry with observers</a></h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="with-taggable"><div>
		<section>
			<header>
				<h2>With taggable cache</h2>
			</header>

			<pre>				
				<code>-  <% cache key, :expires_in => 1.day do %></code>
				<code>+  <% cache key, :depends_on => [@sort_by, Product] do %></code>
			</pre>
		</section>
	</div></div>

	<!-- Browser section -->
	<div class="slide shout" id="small_tricks"><div>
		<section>
			<header>
				<h2>Small tricks</h2>
			</header>
		</section>
	</div></div>

	<div class="slide" id="about_client_optimisation"><div>
		<section>
			<header>
				<h2>This talk is not about client-side optimisation, but I am going to tell about:</h2>
			</header>

			<ul>
				<li>Image optimization</li>
				<li>Overall page rendering</li>
			</ul>
		</section>
	</div></div>	


	<div class="slide" id="big-images"><div>
		<section>
			<header>
				<h2>Big images. Like these:</h2>
			</header>

			<img src="pictures/big_images.png" alt="" class="middle" width="792">
		</section>
	</div></div>

	<div class="slide" id="optimisation-snippet"><div>
		<section>
			<header>
				<h2>THREE LINES OF DIFF</h2>
			</header>
			<pre>				
				<code>-  :default_url =>'/system/:class/default/:style.png'</code>
				<code>+  :default_url =>'/system/:class/default/:style.png',</code>
				<code>+  :convert_options => { :all => "-strip <mark>-quality 65</mark>" }</code>
			</pre>
		</section>
	</div></div>

	<div class="slide" id="image-opt-result"><div>
		<section>
			<header>
				<h2>Result?</h2>
			</header>

			<img src="pictures/image-opt-result.png" alt="" class="middle" width="792">
		</section>
	</div></div>

<!-- 	page rendering flow -	script files in the end of the page -->

	<div class="slide" id="how"><div>
		<section>
			<header>
				<h2>How to measure?</h2>
			</header>
			<ol>
				<li>Firebug</li>
				<li>Chrome developer tools</li>
				<li><a href="http://tools.pingdom.com/fpt/">Full Page test</a></li>
				<li><a href="http://httpd.apache.org/docs/2.0/programs/ab.html">Apache benchmark(ab)</a></li>
			</ol>
		</section>
	</div></div>	

	<div class="slide" id="sources"><div>
		<section>
			<header>
				<h2>Sources</h2>
			</header>

			<ul>
				<li><a href="https://github.com/blog/517-unicorn">Github - Unicorn!</a></li>
				<li>http://www.absoluteastronomy.com/topics/M/M/1_model</li>
				<li>http://www.cmg.org/measureit/issues/mit62/m_62_15.html</li>
				<li><f href="http://habrahabr.ru/post/139370/">Забег реализаций ruby '2012</a></li>
			</ul>
		</section>
	</div></div>

	<div class="slide shout" id="thank_you"><div>
		<section>
			<header>
				<h2>Thank you!<br />
					Questions?</h2>				
			</header>
		</section>
	</div></div>
	<!--
		Для того, чтобы убрать индикатор прогресса
		из презентации, просто удалите элемент «progress».
		-->
	<div class="progress"><div></div></div>
	<script src="scripts/script.js"></script>
	<!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
	<!-- Photos by John Carey — fiftyfootshadows.net -->
</body>
</html>